Package: hdf5
Version: 1.14.6
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 78cbba09a8cd9422a95e1354465d901d808026bcb4114f2bf1ad83988f6a76ee
Description: HDF5 is a data model, library, and file format for storing and managing data
Default-Features: szip, zlib

Package: hdf5
Feature: szip
Depends: libaec
Architecture: x64-windows
Multi-Arch: same
Description: Build with szip

Package: hdf5
Feature: zlib
Depends: zlib
Architecture: x64-windows
Multi-Arch: same
Description: Build with zlib
