Package: icu
Version: 78.1
Depends: icu, vcpkg-cmake-get-vars, vcpkg-make
Architecture: x64-windows
Multi-Arch: same
Abi: e552b88c7ce8fbc904072981099be8f09cbdca975a93d75ccfdab3e40cb715dd
Description: Mature and widely used Unicode and localization library.

Package: icu
Feature: tools
Architecture: x64-windows
Multi-Arch: same
Description: Build tools
