Package: icu
Version: 74.2
Port-Version: 2
Depends: icu
Architecture: x64-windows
Multi-Arch: same
Abi: aea89075d526a589931edf149679197b14e4b7b89553c5e93ce1527f455f6ded
Description: Mature and widely used Unicode and localization library.

Package: icu
Feature: tools
Architecture: x64-windows
Multi-Arch: same
Description: Build tools
