Package: libxml2
Version: 2.11.7
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 4a52074d863679a4830c4643081de2b4ebaa198bb18a1b00288af3004ff7a4dc
Description: Libxml2 is the XML C parser and toolkit developed for the Gnome project (but usable outside of the Gnome platform).
Default-Features: iconv, lzma, zlib

Package: libxml2
Feature: iconv
Depends: libiconv
Architecture: x64-windows
Multi-Arch: same
Description: Add ICONV support

Package: libxml2
Feature: lzma
Depends: liblzma
Architecture: x64-windows
Multi-Arch: same
Description: Use LZMA

Package: libxml2
Feature: zlib
Depends: zlib
Architecture: x64-windows
Multi-Arch: same
Description: Use ZLib
