Package: libgit2
Version: 1.8.0
Depends: http-parser, vcpkg-cmake, vcpkg-cmake-config, zlib
Architecture: x64-windows
Multi-Arch: same
Abi: 0ff6bfa0e4bc4d78a81474a529695087302d4634f006035d7143f97f19cf4d5d
Description: A C library implementing the Git core methods with a solid API
Default-Features: pcre, ssl

Package: libgit2
Feature: pcre
Depends: pcre
Architecture: x64-windows
Multi-Arch: same
Description: Build against external libpcre

Package: libgit2
Feature: ssl
Depends: libgit2
Architecture: x64-windows
Multi-Arch: same
Description: Default SSL backend

Package: libgit2
Feature: winhttp
Architecture: x64-windows
Multi-Arch: same
Description: SSL support (WinHTTP)
