Package: sndfile
Version: 0
Port-Version: 1
Depends: libsndfile
Architecture: x64-windows
Multi-Arch: same
Abi: dc25b5469bbeb185b2afaf70c0e583db1bd69d7075f5a2960527d158908fa648
Description: x Library to read, write and manipulate many soundfile types.
Type: Port
Default-Features: external-libs

Package: sndfile
Feature: external-libs
Depends: libsndfile
Architecture: x64-windows
Multi-Arch: same
Description: Support Ogg Vorbis and FLAC audio files
Type: Port
