Package: libsndfile
Version: 1.2.2
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 409c71bca2bae1f58f060957b64fc00af717a919a9302869e4ffdb5d99e9679b
Description: A library for reading and writing audio files
Default-Features: external-libs, mpeg

Package: libsndfile
Feature: external-libs
Depends: libflac, libvorbis, opus
Architecture: x64-windows
Multi-Arch: same
Description: Enable FLAC, Vorbis, and Opus codecs

Package: libsndfile
Feature: mpeg
Depends: mp3lame, mpg123
Architecture: x64-windows
Multi-Arch: same
Description: Enable MPEG codecs
