Package: libiconv
Version: 1.17
Port-Version: 3
Architecture: x64-windows
Multi-Arch: same
Abi: 3d728fabc1047dbe680cc5a5ca1ff24104256219564128c70f0a404bea2b86ce
Description: GNU Unicode text conversion
