Package: liblzma
Version: 5.4.4
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 116c0221a25c0a98171eb496ee7434cfa5bca191c93114ade7cfba32eab4bf18
Description: Compression library with an API similar to that of zlib.
