Package: liblzma
Version: 5.2.5
Port-Version: 4
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 4de75944d7166d9b5d453ca94bfa28ac54225a2a9d7b78db53a2fcea46a502a1
Description: Compression library with an API similar to that of zlib.
Type: Port
