Package: curl
Version: 8.8.0
Depends: vcpkg-cmake, vcpkg-cmake-config, zlib
Architecture: x64-windows
Multi-Arch: same
Abi: c20d8d323b697d7792aa1e56bdfb18ea479285d7c188cf3560370ae236c997aa
Description: A library for transferring data with URLs
Default-Features: non-http, ssl

Package: curl
Feature: non-http
Architecture: x64-windows
Multi-Arch: same
Description: Enables protocols beyond HTTP/HTTPS/HTTP2

Package: curl
Feature: schannel
Depends: curl
Architecture: x64-windows
Multi-Arch: same
Description: SSL support (Secure Channel)

Package: curl
Feature: ssl
Depends: curl
Architecture: x64-windows
Multi-Arch: same
Description: Default SSL backend

Package: curl
Feature: sspi
Architecture: x64-windows
Multi-Arch: same
Description: SSPI support
